<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <title>Emoti-ON</title>
<!--
Reflux Template
https://templatemo.com/tm-531-reflux
-->
    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css" />
    <link rel="stylesheet" href="static/assets/css/templatemo-style.css" />
    <link rel="stylesheet" href="static/assets/css/owl.css" />
    <link rel="stylesheet" href="static/assets/css/lightbox.css" />
  </head>

  <body style="background-color:rgb(175, 139, 139)">
  <body>
    <!-- <div id="page-wraper"> -->
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <br>
            <br>

            <div class="animated-gif">
                <a href="#">
                  <img src=https://media.giphy.com/media/EPfV3ijMQVl60/giphy.gif alt="" style='width: 150px; height: 130px'>      
              </a>
            </div>

            <div class="author-content">
              <h2 style="color:rgb(240, 215, 215); font: bold; size: 30;">Emoti-ON</h2>

              <span>Music data about feelings</span>
              <br>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1">Emoti-ON</a></li>
                <li><a href="#section2">About the Project</a></li>
                <li><a href="#section3">Contact</a></li>
              </ul>
            </nav>
            <div class="social-network">
              <ul class="soial-icons">
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  
                </li>
                <li>
                  <a href="#"><i class="fa fa-dribbble"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-rss"></i></a>
                </li>
              </ul>
            </div>
            <div class="copyright-text">
              <p>&copy; 2022 - Developed by <a href="https://github.com/CeciliaMezzera"> Cecilia Mezzera</a>
              </p>
            </div>

          </div>
        </div>
      </div>


      <section class="section emoti-on" data-section="section1">
        <div class="container">
          <div class="section-heading">
            <h2>Emoti-ON</h2>
            <div class="line-dec"></div>
            <span
              >An algorithm that detects your mood and generates a music according to your emotions.
          </span>
          <br>
          <br>
          </div>
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="static/assets/images/tv.png" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>Record a video</h4>
                  <p>
                    
                  </p>
                  <br>
                  <div class="white-button">
                    <form>
                      <a href="#" id=test><button>Rec</button></a>
                    </form>
                    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                      <script type=text/javascript>
                              $(function() {
                                $('a#test').on('click', function(e) {
                                  e.preventDefault()
                                  $.getJSON('/test',
                                      function(data) {
                                    //do nothing
                                  });
                                  return false;
                                });
                              });
                      </script>

                </div>
              </div>
            </div>
          </div>
          <div class="right-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-text">
                  <h4>Visualize your emotions</h4>
                  <p>
                    
                  </p>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-image">
                  <!-- <img src="static/assets/images/schoolboard.jpeg" alt="" /> -->
                </div>
                <div class="white-button">
                  <form>
                    <a href="{{url_for('video')}}"id=video>Show</a>
                  </form>
                </div>
                {% if video %}
                <div class="animated-gif">
                  <img src= {{url_for('static', filename= '/video/' +  video)}} alt="" style='width: 400px; height: 190px'>
                </div>
                {% endif %}
              </div>
              </div>
            </div>
          </div>

          <div class="right-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-text">
                  <h4>Listen to your feelings</h4>
                  <div class="right-image">
                    
                    <img src="static/assets/images/schoolboard.jpeg" alt="" />

                  </div>

                  <div class="white-button">
                    <form>
                      <a href="{{url_for('write')}}"id=write>Write</a>
                    </form>
                  </div>
                  {% if text1 %}
                    <p>{{text1}}</p>
                    <p>{{text2}}</p>
                  {% endif %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-image">
                  <img src="static/assets/images/radio.png" alt="" />
                </div>
                <br>

                <ul>


                  <ul>
                  <li>
                    <div class="number_icon">
                      <img src="static/assets/images/icon_n1-rem.png" alt="" height="62" width="62"/>
                    </div>

                  </li>
                  <li>
                    <div class="white-button">
                      <form>
                        <a href="#" id=music_one><button>Play</button></a>
                      </form>
                      <!-- <input id="volume-control" type="range" min="0" max="100" value="50"> -->
                      
                      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                        <script type=text/javascript>
                                $(function() {
                                  $('a#music_one').on('click', function(e) {
                                    e.preventDefault()
                                    $.getJSON('/music_one',
                                        function(data) {
                                      //do nothing
                                    });
                                    return false;
                                  });
                                });
                        </script>
                    </div>
                  </li>
                  </ul>
                  <!-- <br> -->


                <ul>
                  
                  <li>
                    <div class="number_icon">
                      <img src="static/assets/images/icon_n2.png" alt="" height="62" width="62"/>
                    </div>
                  </li>
                  <li>
                    <div class="white-button">
                      <form>
                        <a href="#" id=music_two><button>Play</button></a>
                      </form>
                      <!-- <input id="volume-control" type="range" min="0" max="100" value="50"> -->
                      
                      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                        <script type=text/javascript>
                                $(function() {
                                  $('a#music_two').on('click', function(e) {
                                    e.preventDefault()
                                    $.getJSON('/music_two',
                                        function(data) {
                                      //do nothing
                                    });
                                    return false;
                                  });
                                });
                        </script>
                    </div>
                    
                  </li>
                </li>
              </ul>
              </ul>

                          
              </div>
            </div>
          </div>

        </div>
      </section>


      <section class="section contact-me" data-section="section2">
        <div class="container">
          
          <div class="row">
            <div class="isotope-wrapper">
              <form class="isotope-toolbar">
                
              </form>
              <div class="section-heading">
                <h2>About the project</h2>
                <div class="line-dec"></div>
                <br>
                <!-- <div class="image">
                  <a href="#"><img src="static/assets/images/pagebg.jpg" alt="" style='width: 200px; height: 180px'>
                  </a>
                </div> -->
                <!-- <span
                  >Curabitur leo felis, rutrum vitae varius eu, malesuada a tortor.
                  Vestibulum congue leo et tellus aliquam, eu viverra nulla semper.
                  Nullam eu faucibus diam. Donec eget massa ante.</span
                > -->
              </div>
              <div class="row">
                
                <div class="col-md-6">
                  <div class="service-item">
                    <div class="first-service-icon service-icon"></div>
                    <h4>The idea</h4>
                    <p>
                      Convert our feelings in art
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="service-item">
                    <div class="fourth-service-icon service-icon"></div>
                    <h4>Methods</h4>
                    <p>
                      Deep Learning (Convolutional Neural Network)
                    </p>
                    <p>
                      Genetic algorithm for music generation
                    </p>
                  </div>
                </div>

                <div class="row">
                
                  <div class="col-md-6">
                    <div class="service-item">
                      <div class="second-service-icon service-icon"></div>
                      <h4>Tools</h4>
                      <p>
                        Python 
                      <!-- </p>
                      <p> -->
                        PyTorch 
                      <!-- </p>
                      <p> -->
                         
                      <!-- </p>
                      <p> -->
                        Yolo  
                      </p>
                      <p>
                        Flask 
                      <!-- </p>
                      <p>  -->
                        Html  
                      <!-- </p>
                      <p> -->
                        Css 
                      <!-- </p>
                      <p> -->
                        JavaScript
                      </p>
                      <p>
                        Pyo
                        GarageBand
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="service-item">
                      <div class="third-service-icon service-icon"></div>
                      <h4>Next step</h4>
                      <p>
                        Webpage beta-version
                      </p>
                      <p>
                        RT music generation
                      </p>
                      <p>
                        Emotion classes increase
                      </p>
                      <p>
                        Download function
                      </p>
                    </div>
                  </div>



              <!-- <div class="isotope-box">
                

                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="static/assets/images/portfolio-03.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="static/assets/images/portfolio-03.jpg"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Item Third</h4>
                      <span>customize anything</span>
                    </figcaption>
                  </figure>
                </div>


                

                <div class="isotope-item" data-type="animals">
                  
                </div> -->
              <!-- </div>
            </div>
          </div>
        </div> -->
      </section>

      <section class="section about-me" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2>About me</h2>
            <div class="line-dec"></div>
            <div class="image">
              <a href="#"><img src="static/assets/images/author-ceci.jpg" alt="" style='width: 200px; height: 180px'>
              </a>
            </div>
            <!-- <span
              >Curabitur leo felis, rutrum vitae varius eu, malesuada a tortor.
              Vestibulum congue leo et tellus aliquam, eu viverra nulla semper.
              Nullam eu faucibus diam. Donec eget massa ante.</span
            > -->
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="service-item">
                <div class="first-service-icon service-icon"></div>
                <h4>Bio</h4>
                <p>
                  Neuroscientist by training 
                </p>
                <p>
                  Data Analysit by character
                </p>
                <p>
                  Fashion Designer in the free time
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="second-service-icon service-icon"></div>
                <h4>My work</h4>
                <p>
                  Write something about my work
                </p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="section-heading">
              <h2>Contacts</h2>
              
              <div class="line-dec"></div>
              <br>
              <br>
              <span
                >
              </span>
              <br>
              <br>
              <nav class="main-nav" role="navigation">
                <ul>
                  <li><a href="mailto:cecil.mezzera@gmail.com" class="tm-link-white">cecil.mezzera@gmail.com </a></li>
                  <li><a href="https://www.linkedin.com/in/cecilia-mezzera/" class="tm-link-white">linkedin </a></li>
                </ul>
              </nav>
              
            </div>
            
            <div class="row">
              <div class="right-content">
                <div class="container">
                  <!-- <form id="contact" action="" method="post">
                    <div class="row">
                      <div class="col-md-6">
                        <fieldset>
                          <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                        </fieldset>
                      </div>
                      <div class="col-md-6">
                        <fieldset>
                          <input name="email" type="text" class="form-control" id="email" placeholder="Your email..." required="">
                        </fieldset>
                      </div>
                      <div class="col-md-12">
                        <fieldset>
                          <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..." required="">
                        </fieldset>
                      </div>
                      <div class="col-md-12">
                        <fieldset>
                          <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                        </fieldset>
                      </div>
                      <div class="col-md-12">
                        <fieldset>
                          <button type="submit" id="form-submit" class="button">
                            Send Message
                          </button>
                        </fieldset>
                      </div>
                    </div>
                  </form> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
    <!-- </div> -->

  
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="static/assets/js/isotope.min.js"></script>
    <script src="static/assets/js/owl-carousel.js"></script>
    <script src="static/assets/js/lightbox.js"></script>
    <script src="static/assets/js/custom.js"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>

  
  </body>

</html>
